.ulStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.liStyle {
    border: 3px solid black;
    justify-content: space-around;
    margin: 4rem;
    border-radius: 30px;
    padding: .5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

